{% extends 'base.html.twig' %}

{% block title %}Conversion{% endblock %}

{% block body %}


    <h1><strong>{{ base }}</strong> {{ ValueStr }} font <strong>{{ result }}</strong> {{ ValueGoalStr}}</h1>


{% endblock %}
