{% extends 'base.html.twig' %}

{% block title %}Toutes les régions{% endblock %}

{% block body %}


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">View</th>
            <th scope="col">Région</th>
            <th scope="col">Code</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td><img src="https://picsum.photos/100" alt=""></td>
                {% if region.nom is defined %}
                {% if region.nom is not empty %}
                <td>{{ region.nom }}</td>
                {% endif %}
                {% endif %}
                <td>{{ region.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
